<?php include 'header.html' ?>


    <!-- current
   ================================================== -->

    <section id="current">

   	<div class="row section-intro">
   		<div class="col-twelve with-bottom-line">

   			<h5>B3 Lottery</h5>
   			<h1>Current Round</h1>


   		</div>
   	</div>
   	<div class="row current-content">
        <center><h3 style="color: red">Enter now for your chance to win in the <a href="jackpot.html">daily jackpot!</a></h3></center>
        <div class="row">
            <div class="col-sm">
                <h2>Ticket Cost: <span>10 kB3</span></h2>
            </div>
            <div class="col-sm">
                <h2>Round Number: <span><?php printCurrentRoundID() ?></span></h2>
            </div>
        </div>
        <div class="row with-bottom-line">
<div class="col-three tab-full">
&nbsp;
</div>

	    <div class="col-six tab-full">
            <center><div id="generate_button" class="button filled">Generate Deposit Address</div>
            <table id="auto_play_table" style="border: none;">
                <tbody><tr>
                    <td>
                    Auto Play:
                    </td>
                    <td>
                    <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
                </td>
                </tr>
            </tbody>
            </table>

            </center>
            <p style="margin-bottom: 0.8rem"><a href="index.html#process">How to play?</a></p>

            <br>
	    </div>
<div class="col-three tab-full">
&nbsp;
</div>
        </div>
        <div class="row">
            <div class="col-one tab-full">
            &nbsp;
            </div>
            <div class="col-ten tab-full margin-top-medium with-bottom-line">
                    <center><h3>Time remaining: <span id="timer"><?php getCurrentRoundTimeLeft() ?></span></h3></center>
                    <div class="float-left">
                        <h4>Tickets Purchased: <span id="currentRoundTickets"><?php printCurrentRoundTickets() ?></span></h4>
                        <h4>Total Deposited: <span id="currentRoundTotal"><?php printCurrentRoundTotal() ?> kB3</span></h4>
                    </div>
                    <div class="float-right">
                        <h4>Winners Pool: <span id="currentWinnersPool"><?php printCurrentRoundWinnersPool() ?> kB3</span></h4>
                        <h4>Fundamental Node Pool: <span id="currentNodePool"><?php printCurrentRoundNodePool() ?> kB3</span></h4>
                    </div>
            </div>
            <div class="col-one tab-full">
            &nbsp;
            </div>
        </div>
        <div class="row with-bottom-line" id="rounds_table">
            <div class="col-one tab-full">
                &nbsp;
            </div>
            <div class="col-five tab-full">
                <table id="round_payments">
                    <caption><h2>Round Rewards</h2></caption>
                    <thead><tr><th>Position</th><th>Reward</th></tr></thead>
                    <tbody id="round_payments_body">
                        <tr><td><?php echo getGroupOnePrint() ?></td><td><?php echo getGroupOneWinnings() ?> kB3</td></tr>
                        <tr><td><?php echo getGroupTwoPrint()?></td><td><?php echo getGroupTwoWinnings() ?> kB3</td></tr>
                        <tr><td><?php echo getGroupThreePrint()?></td><td><?php echo getGroupThreeWinnings() ?> kB3</td></tr>
                        <tr><td><?php echo getGroupFourPrint()?></td><td><?php echo getGroupFourWinnings() ?> kB3</td></tr>
                        <tr><td><?php echo getGroupFivePrint()?></td><td><?php echo getGroupFiveWinnings() ?> kB3</td></tr>
                        <tr><td><?php echo getNodeGroupPrint()?></td><td><span style="color:#737373;">FN Pool </span><?php echo getNodeGroupWinnings() ?></td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-six tab-full">
                    <table id="table-current">
                        <caption>
                            <center><h2>Round Entrants</h2></center><br>
                            <div class="caption-left">Current Tickets Sold: <span id="currentRoundTicketsTable"><?php printCurrentRoundTickets() ?></span></div><div class="caption-right" id='player_tickets'></div>
                        </caption>
                        <thead>
                            <tr>
                                <th>Player</th>
                                <th>Tickets (Pending)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <div class="inner">
                                        <table>
                                            <tbody id="current-players">
                                                <?php getCurrentRoundTable() ?>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>

    <div class="row">
        <br>
      <div class="col-two tab-full">
        &nbsp;
      </div>
      <div class="col-eight tab-full">
       <div class='table-responsive'>
         <table id='previous_rounds'>
             <caption><h3>Previous Rounds</h3> <br><div class='caption-left'>Round Number: <span id='previous_round_number'><?php printPreviousRoundID() ?></span></div><div class='caption-right'>Total Tickets Sold: <span id='previous_round_tickets'><?php printPreviousRoundTickets() ?></span></div></caption>
          <thead>
            <tr style="text-align: right">
              <th>Wallet Address</th>
              <th>Tickets</th>
              <th>Total FN Amount</th>
              <th>Total Won</th>
            </tr>
          </thead>
            <tbody>
             <tr>
                <td colspan="4">
                 <div class="inner">
                    <table>
                        <tbody id='previous_round_body'>
                             <div id="previous_preloader">
                               <div id="previous_loader"></div>
                            </div>
                          <?php getLastRound() ?>
                        </tbody>
                     </table>
                    </div>
                 </td>
                </tr>
             </tbody>
        </table>
           <p>Previous rounds: <span id="previous_links"><?php echo getPreviousRoundLinks() ?> </span></p>
          </div>
        </div>
              <div class="col-two tab-full">
        &nbsp;
      </div>
        </div>
    </div> <!-- /current-content -->

   </section> <!-- /current -->



        <div id='footer'>
	       <?php include "footer.html" ?>
        </div>

   <div id="preloader">
    	<div id="loader"></div>
   </div>

   <!-- Java Script
   ================================================== -->
   <script type="text/javascript" type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
   <script type="text/javascript" src="js/plugins.js"></script>
   <script type="text/javascript" src="js/main.js?v=8"></script>


</body>

</html>
