<?php include 'header.html' ?>


    <!-- current
   ================================================== -->

    <section id="current">

   	<div class="row section-intro">
   		<div class="col-twelve with-bottom-line">

   			<h5>B3 Lottery</h5>
   			<h1>Daily Jackpot!</h1>

   		</div>
   	</div>
   	<div class="row current-content">
        <div class="col-two tab-full">
            &nbsp;
        </div>

	    <div class="col-eight tab-full">
        <p>The jackpot will be drawn every day at 00:00:00 UTC after all rounds are finished.</p>
            <center> <h2>UTC Time: <span id=""><?php getTimeTillUTC() ?></span></h2></center>
	    </div>
        <div class="col-two tab-full">
        </div>
    </div> <!-- /current-content -->
                   	<div class="row current-content">
        <div class="col-one tab-full">
            &nbsp;
        </div>

	    <div class="col-ten tab-full">
            <center>
                <h4>Total Prize Pool: <span><?php printCurrentGiveawayPrizePool() ?> kB3 </span> Total Entries: <span><?php printTotalGiveAwayTickets() ?></span></h4>
<div class="large-7 small-12 large-centered small-centered columns change_size_css" id="prize_DIV_1"> <div class="row" id="prize_DIV_2"> <div class="large-5 small-12 columns large-centered center pad_zero prize_row_div prize_first_row_div br_5_5" id="prize_DIV_3"> <div class="large-12 small-3 columns large-centered prize_rank_cell gold br_5_5" id="prize_DIV_4">1st </div> <div id="prize_DIV_5" class="large-12 small-9 columns large-centered prize_amount_cell font_amount_1"> <i class="fa fa-btc" aria-hidden="true" id="prize_I_6"></i> <span class="lottery_first_prize" id="prize_SPAN_7"><?php printFirstGiveawayPrize() ?> kB3</span> </div> </div> </div> <div class="row" id="prize_DIV_8"> <div id="prize_DIV_9" class="large-8 small-12 columns large-centered center prize_row_div prize_second_row_div"> <div id="prize_DIV_10" class="large-6 small-12 columns pad_zero"> <div id="prize_DIV_11" class="large-12 small-3 columns large-centered prize_rank_cell silver">2nd </div> <div class="large-12 small-9 columns large-centered prize_amount_cell font_amount_2_3" id="prize_DIV_12"> <i class="fa fa-btc" aria-hidden="true" id="prize_I_13"></i> <span class="lottery_second_prize" id="prize_SPAN_14"><?php printSecondGiveawayPrize() ?> kB3</span> </div> </div> <div class="large-6 small-12 columns pad_zero" id="prize_DIV_15"> <div class="large-12 small-3 columns large-centered prize_rank_cell silver br_0_5" id="prize_DIV_16">3rd </div> <div class="large-12 small-9 columns large-centered prize_amount_cell font_amount_2_3" id="prize_DIV_17"> <i class="fa fa-btc" aria-hidden="true" id="prize_I_18"></i> <span class="lottery_third_prize" id="prize_SPAN_19"><?php printSecondGiveawayPrize() ?> kB3</span> </div> </div> </div> </div> <div class="row" id="prize_DIV_20"> <div class="large-10 small-12 columns large-centered center prize_row_div prize_third_row_div br_5_5" id="prize_DIV_21"> <div class="large-4 small-12 columns br_right_1px pad_zero" id="prize_DIV_22"> <div class="large-12 small-3 columns large-centered prize_rank_cell bronze br_5" id="prize_DIV_23">4th </div> <div class="large-12 small-9 columns large-centered prize_amount_cell font_amount_4_5_6" id="prize_DIV_24"> <i class="fa fa-btc" aria-hidden="true" id="prize_I_25"></i> <span class="lottery_fourth_prize" id="prize_SPAN_26"><?php printThirdGiveawayPrize() ?> kB3</span> </div> </div> <div class="large-4 small-12 columns br_right_1px pad_zero" id="prize_DIV_27"> <div class="large-12 small-3 columns large-centered prize_rank_cell bronze" id="prize_DIV_28">5th </div> <div class="large-12 small-9 columns large-centered prize_amount_cell font_amount_4_5_6" id="prize_DIV_29"> <i class="fa fa-btc" aria-hidden="true" id="prize_I_30"></i> <span class="lottery_fifth_prize" id="prize_SPAN_31"><?php printThirdGiveawayPrize() ?> kB3</span> </div> </div> <div class="large-4 small-12 columns pad_zero" id="prize_DIV_32"> <div class="large-12 small-3 columns large-centered prize_rank_cell bronze br_0_5" id="prize_DIV_33">6th </div> <div class="large-12 small-9 columns large-centered prize_amount_cell font_amount_4_5_6" id="prize_DIV_34"> <i class="fa fa-btc" aria-hidden="true" id="prize_I_35"></i> <span class="lottery_sixth_prize" id="prize_SPAN_36"><?php printThirdGiveawayPrize() ?> kB3</span> </div> </div> </div> </div> <div class="row" id="prize_DIV_37"> <div class="large-12 small-12 columns large-centered center prize_row_div prize_fourth_row_div" id="prize_DIV_38"> <div class="large-3 small-12 columns br_right_1px pad_zero" id="prize_DIV_39"> <div class="large-12 small-3 columns large-centered prize_rank_cell green_prize_rank br_5" id="prize_DIV_40">7th </div> <div class="large-12 small-9 columns large-centered prize_amount_cell font_amount_7_8_9 br_0_0_0_5" id="prize_DIV_41"> <i class="fa fa-btc" aria-hidden="true" id="prize_I_42"></i> <span class="lottery_seventh_prize" id="prize_SPAN_43"><?php printFourthGiveawayPrize() ?> kB3</span> </div> </div> <div class="large-3 small-12 columns br_right_1px pad_zero" id="prize_DIV_44"> <div class="large-12 small-3 columns large-centered prize_rank_cell green_prize_rank" id="prize_DIV_45">8th </div> <div class="large-12 small-9 columns large-centered prize_amount_cell font_amount_7_8_9" id="prize_DIV_46"> <i class="fa fa-btc" aria-hidden="true" id="prize_I_47"></i> <span class="lottery_eighth_prize" id="prize_SPAN_48"><?php printFourthGiveawayPrize() ?> kB3</span> </div> </div> <div class="large-3 small-12 columns br_right_1px pad_zero" id="prize_DIV_49"> <div class="large-12 small-3 columns large-centered prize_rank_cell green_prize_rank" id="prize_DIV_50">9th </div> <div class="large-12 small-9 columns large-centered prize_amount_cell font_amount_7_8_9" id="prize_DIV_51"> <i class="fa fa-btc" aria-hidden="true" id="prize_I_52"></i> <span class="lottery_ninth_prize" id="prize_SPAN_53"><?php printFourthGiveawayPrize() ?> kB3</span> </div> </div> <div class="large-3 small-12 columns pad_zero" id="prize_DIV_54"> <div class="large-12 small-3 columns large-centered prize_rank_cell br_0_5 green_prize_rank" id="prize_DIV_55">10th </div> <div class="large-12 small-9 columns large-centered prize_amount_cell br_0_0_5_0 font_amount_7_8_9" id="prize_DIV_56"> <i class="fa fa-btc" aria-hidden="true" id="prize_I_57"></i> <span class="lottery_tenth_prize" id="prize_SPAN_58"><?php printFourthGiveawayPrize() ?> kB3</span> </div> </div> </div> </div> </div>
            </center>
                </div>
        <div class="col-one tab-full">
            &nbsp;
        </div>
    </div> <!-- /current-content -->
        <div class="row current-content">
        <div class="col-two tab-full">
            &nbsp;
        </div>

	    <div class="col-eight tab-full with-bottom-line with-top-line" id='giveaway-player-stats'>
                    <center><h2>Your Daily Jackpot   Tickets</h2></center>
                    <div style="text-align:center">
                        <h3>You have received <span id="giveaway_total_earned">0</span> tickets and have a <span id="giveaway_chance">0%</span> of winning a prize.</h3>
                    </div>
                    <div class="float-left">
                        <h4>Tickets from playing lottery: <span id="giveaway_lottery_earned">0</span></h4>
                    </div>
                    <div class="float-right">
                    <h4>Tickets from referrals: <span id="giveaway_referral_earned">0</span></h4>
                    </div>
                    <center>

                     <table id="giveaway_referrals">
                      <caption>Your Referral Tickets</caption>
                      <thead>
                        <tr>
                          <th>Wallet Address</th>
                          <th>Tickets</th>
                        </tr>
                      </thead>
                         <tbody>
                         <tr>
                             <td colspan="2" style="border:0px">
                            <div class="inner">
                                <table>
                                    <tbody id="giveaway_referral_body">
                                    </tbody>
                                </table>
                             </div>
                             </td>
                         </tr>
                         </tbody>
                    </table>
                                </center>
                    </div>
                    <div class="col-two tab-full">
                        &nbsp;
                    </div>
                </div> <!-- /current-content -->
                                        <div class="row current-content">
                    <div class="col-one tab-full">
                        &nbsp;
                    </div>

                    <div class="col-ten tab-full">
        <table id='previous_giveaway_outer'>

             <caption><h3>Previous Winners</h3>
              <div class='caption-left'>Date: <span id='previous_date'><?php printYesterday() ?></span></div>
              <div class='caption-center'>Total Tickets: <span id='previous_total_tickets'><?php printLastGiveawayTickets() ?></span></div>
              <div class='caption-right'>Total Prize Pool: <span id='previous_prize_pool'><?php printLastGiveawayPrizePool() ?> kB3</span></div>
          </caption>
          <thead>
            <tr>
              <th>Rank</th>
              <th>Wallet Address</th>
              <th>Tickets</th>
              <th>Total Won</th>
            </tr>
          </thead>
            <tbody>
             <tr>
                 <td colspan="4" style="border:0px">
                <div class="inner">
                    <table id="previous_giveaway">
                        <tbody id="previous_giveaway_body">
                            <?php getLastGiveAway() ?>
                        </tbody>
                    </table>
                 </div>
                 </td>
             </tr>
             </tbody>
        </table>
           <p>Previous Jackpots: <span id="previous_giveaway_links"><?php echo getPreviousGiveawayLinks() ?> </span></p>
		</div>
        <div class="col-one tab-full">
            &nbsp;
        </div>
    </div> <!-- /current-content -->
   </section> <!-- /current -->
        <div id='footer'>
	       <?php include "footer.html" ?>
        </div>
   <div id="preloader">
    	<div id="loader"></div>
   </div>

   <!-- Java Script
   ================================================== -->
   <script src="js/jquery-1.11.3.min.js"></script>
   <script src="js/jquery-migrate-1.2.1.min.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/main.js?v=5"></script>


</body>

</html>
