<?php include 'header.html' ?>


    <!-- current
   ================================================== -->

    <section id="current">

   	<div class="row section-intro">
   		<div class="col-twelve with-bottom-line">

   			<h5>B3 Lottery</h5>
   			<h1>Privacy Policy</h1>
<div class="col-md-8 content-block">
<h5>LAST UPDATED DEC 09, 2017</h5>
<p>This Privacy Policy (“Policy”) describes the collection, use &amp; disclosure of information collected online by our website at b3lottery.co and b3lottery.com. We are committed to maintaining the security &amp; confidentiality of your personal &amp; financial information.As you review our policy, keep in mind that it applies to all B3Lottery products &amp; services that do not have a separate privacy policy. </p>
<p>Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. We are not responsible for the protection &amp; privacy of any information which you provide whilst visiting such sites &amp; such sites are not governed by this privacy statement. You should exercise caution &amp; look at the privacy statement applicable to the website in question.</p>
<p>We collect personal &amp; financial information from you while you use the site, &amp; which is related to your wallet address when you make a deposit. All data collected is needed and will not be linked to an individual name or person. By visiting B3 Lottery website you agree &amp; consent to the practices described in this privacy policy. </p>
<h2 style="color:#FA890F">Which information collected?</h2>
<h3 class="post-title">Your wallet address</h3>
<p>When depositing funds for the lottery our software needs your wallet address to either make payments or keep a history against the wallet address.</p>
<h3>How much a certain wallet has deposited, won and lost</h3>
<p>When ever your wallet address wins loses or deposits this will be recorded in our database</p>
<h2 style="color:#FA890F">How do we use this information?</h2>
<p>This information is stored in a database where we will use the deposit information matched to the wallet address to assign tickets for each lottery and to keep a record of wins/losses. Wallet addresses are recorded for payment and without will not be able to return any funds to users.</p>
<h2 style="color:#FA890F">How is the information shared?</h2>
<p>The information collected against your wallet address will be displayed in a type of ranking table with the wins, losses, tickets purchased per round etc.</p>
</div>

   		</div>
   	</div>
   	<div class="row current-content">


    </div> <!-- /current-content -->

   </section> <!-- /current -->


           <div id='footer'>
	       <?php include "footer.html" ?>
        </div>

   <div id="preloader">
    	<div id="loader"></div>
   </div>

   <!-- Java Script
   ================================================== -->
   <script src="js/jquery-1.11.3.min.js"></script>
   <script src="js/jquery-migrate-1.2.1.min.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/main.js?v=5"></script>

</body>

</html>
