<?php include 'header.html' ?>



    <!-- current
   ================================================== -->

    <section id="current">

   	<div class="row section-intro">
   		<div class="col-twelve with-bottom-line">

   			<h5>B3 Lottery</h5>
   			<h1>Advanced User Menu</h1>

   		</div>
   	</div>
   	<div class="row current-content">
			<p>
				This page is currently under development
			</p>
    </div> <!-- /current-content -->

   </section> <!-- /current -->

        <div id='footer'>
	       <?php include "footer.html" ?>
        </div>

   <div id="preloader">
    	<div id="loader"></div>
   </div>

   <!-- Java Script
   ================================================== -->
   <script src="js/jquery-1.11.3.min.js"></script>
   <script src="js/jquery-migrate-1.2.1.min.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/main.js?v=5"></script>



</body>

</html>
