<?php include 'header.html' ?>


    <!-- current
     ================================================== -->

     <section id="history">

      <div class="row section-intro">
       <div class="col-twelve with-bottom-line">

        <h5>B3 Lottery</h5>
        <h1>History</h1>
			<p>
				This page is currently under development
			</p>
      </div>
    </div>
    <div class="row current-content">
        <div class="col-four tab-full" style="text-align: center">
        <h4>Total Tickets Sold: <span><?php printTotalTicketsSold()?></span></h4>
        </div>
        <div class="col-four tab-full" style="text-align: center">
            <h4>Number of Rounds: <span><?php printPreviousRoundID() ?></span></h4>
        </div>
        <div class="col-four tab-full" style="text-align: center">
        <h4>Unique Players: <span><?php printUniquePlayers() ?></span></h4>
        </div>
    </div>
        <div class="row current-content">
            <div class="col-four tab-full" style="text-align: center">
                <h4>Winning Tickets: <span><?php printWinningTickets()?> </span></h4>
            </div>
                        <div class="col-four tab-full" style="text-align: center">
                            <h4>Losing Tickets: <span><?php printLosingTickets() ?></span> </h4>
            </div>
                        <div class="col-four tab-full" style="text-align: center">
<!--                            Stat here -->
            </div>
         </div>
        <div class="row current-content with-bottom-line">
            <div class="col-four tab-full" style="text-align: center">
                <h4>kB3 Paid: <span id='total_paid'><?php echo getTotalPaidHistory()?></span><span> kB3</span></h4>
            </div>
                        <div class="col-four tab-full" style="text-align: center">
                            <h4>BTC Value paid: <span id='btc_paid'></span> </h4>
            </div>
                        <div class="col-four tab-full" style="text-align: center">
                            <h4>USD Value paid: <span id='usd_paid'></span></h4>
            </div>
         </div>
    <div class="row current-content">
      <div class="col-two tab-full">
        &nbsp;
      </div>
      <div class="col-eight tab-full">
       <div class='table-responsive'>

        <table class="table-hist-win">
          <caption>Top 10 Winners</caption>
          <thead>
            <tr>
              <th></th>
              <th>Wallet Address</th>
              <th>Amount Won</th>
            </tr>
          </thead>
          <tbody>
            <?php getTopWinners() ?>
          </tbody>
        </table>
        <br>
        <table class="table-hist-lose">
          <caption>Top 10 Losers  </caption>
          <thead>
            <tr>
              <th></th>
              <th>Wallet Address</th>
              <th>FN Ownership</th>
            </tr>
          </thead>
          <tbody>
            <?php getTopLosers() ?>
          </tbody>
        </table>
        <br>
        <center>
            <table id="table-last">
              <caption>Last 50 Payments</caption>
              <thead>
                <tr>
                  <th>Transaction</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <?php getLast50Payments() ?>
              </tbody>
            </table>
        </center>
      </div>
    </div>
    <div class="col-two tab-full">
      &nbsp;
    </div>

  </div> <!-- /current-content -->

  <div class="row current-content">
    <div class="table-wrap">

    </div>
  </div> <!-- /current-content -->
  <div class="row current-content">
    <div class="col">
      <div class="table-wrap">

      </div>

    </div>
  </div>

</section> <!-- /current -->

        <div id='footer'>
	       <?php include "footer.html" ?>
        </div>

<div id="preloader">
 <div id="loader"></div>
</div>

   <!-- Java Script
     ================================================== -->
     <script src="js/jquery-1.11.3.min.js"></script>
     <script src="js/jquery-migrate-1.2.1.min.js"></script>
     <script src="js/plugins.js"></script>
     <script src="js/main.js?v=5"></script>


  </body>

  </html>
