<?php include 'header.html' ?>
    <!-- current
   ================================================== -->

    <section id="current">

   	<div class="row section-intro">
   		<div class="col-twelve with-bottom-line">

   			<h5>B3 Lottery</h5>
   			<h1>Fundamental Node Pool</h1>

   		</div>
   	</div>

  	<div class="row current-content">
        <div class="row">
            <div class="col-sm">
                <h2 style="cursor: pointer" id="view_node_status"><span>View Pool Status</span></h2>
            </div>
            <div class="col-sm">
                <h2>Fundamental Node Count: <span><?php printNodeCount() ?></span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-three tab-full">
                &nbsp;
            </div>
            <div class="col-six tab-full">
                <center><h4>kB3 Till next node:</h4></center>
                    <div id="progressbar">
                        <?php printNodeProgressBar() ?>
                    </div>
<!--                </center>-->
            </div>
             <div class="col-three tab-full">
                &nbsp;
            </div>
        </div>

            <div id="node_user_stats">
        <div class="row margin-top-medium with-bottom-line">
            <div class="col-one tab-full">
                &nbsp;
            </div>
            <div class="col-ten tab-full">
                <center><h3>Your Fundamental Node Pool Stats:</h3></center>
                <div class="float-left">
                    <h4>Total Amount In Pool: <span id="node_total_pool"></span></h4>
                    <h4>From Lottery: <span id="node_lottery_pool"></span></h4>
                    <h4>From Direct Deposit: <span id="node_deposit_pool"></span></h4>
                </div>
                <div style="text-align: right">
                    <h4>% of Pool Owned: <span id="node_owned_percentage"></span></h4>
                    <h4>Number of times Rewarded: <span id="node_rewards_count"></span></h4>
                    <h4>Rewarded: <span id="node_rewards_received"></span></h4>
                </div>
                <center><div id="deposit_button" class="button filled">FN Pool Direct Deposit</div></center>
            </div>
            <div class="col-one tab-full">
                &nbsp;
            </div>
        </div> <!-- /current-content -->
                <div id="node_pending" class="row margin-top-medium with-bottom-line">
            <div class="col-two tab-full">
                &nbsp;
            </div>
            <div class="col-eight tab-full">
                    <center>
                 <table id='pending_direct_table'>
                     <caption><h3>Pending Direct Deposits</h3></caption>
                  <thead>
                    <tr>
                      <th>Amount</th>
                      <th>Waiting on node</th>
                      <th>Date Deposited</th>
                    </tr>
                  </thead>
                     <tbody>
                     <tr>
                        <td colspan="3">
                        <div class="inner">
                            <table>
                                <tbody id='node_pending_body'>
                                </tbody>
                             </table>
                         </div>
                         </td>

                    </tr>
                     </tbody>
                </table>
                </center>

            </div>
            <div class="col-two tab-full">
                &nbsp;
            </div>
        </div> <!-- /current-content -->
        </div>

        <div class="row margin-top-medium with-bottom-line">
            <div class="col-two tab-full">
                &nbsp;
            </div>
            <div class="col-eight tab-full">
                <center><h3>Fundamental Node Pool Stats:</h3></center>
                <div class="float-left">
                    <h4>Total Amount Paid to Players: <span><?php printNodePaidAmount() ?> kB3</span></h4>
                    <h4>Number of FN Pool Owners: <span><?php printTotalNodeOwners() ?></span></h4>
                </div>
                <div style="text-align: right">
                    <h4>Total Nodes in B3 Network: <span><?php printTotalNodesInNetwork() ?></span></h4>
                    <h4>Our Share of Network: <span><?php printNodeShareNetwork() ?></span></h4>
                </div>
            </div>
            <div class="col-two tab-full">
                &nbsp;
            </div>
    </div> <!-- /current-content -->

                    <div class="row current-content">
      <div class="col-one tab-full">
        &nbsp;
      </div>
      <div class="col-ten tab-full">
       <div class='table-responsive'>
         <table id='node_rewards'>
             <caption><h3>Recent Node Rewards</h3></caption>
          <thead>
            <tr>
              <th>Node</th>
              <th id="node_transaction_header">Transactions</th>
              <th id="node_reward_header">Node Reward</th>
              <th>Date</th>
            </tr>
          </thead>
             <tbody>
                 <tr>
                <td colspan="4" id="node_colspan">
                    <div class="inner">
                    <table>
                      <tbody id='node_rewards_body'></tbody>
                    </table>
                    </div>
                </td>
                </tr>
             </tbody>
          <tbody id='node_rewards_body'>

          </tbody>
        </table>
          </div>
        </div>
              <div class="col-one tab-full">
        &nbsp;
      </div>
        </div>
        </div>
   </section> <!-- /current -->


        <div id='footer'>
	       <?php include "footer.html" ?>
        </div>

   <div id="preloader">
    	<div id="loader"></div>
   </div>

   <!-- Java Script
   ================================================== -->
   <script src="js/jquery-1.11.3.min.js"></script>
   <script src="js/jquery-migrate-1.2.1.min.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/main.js?v=5"></script>
</body>

</html>
