<?php include 'header.html' ?>

    <!-- current
   ================================================== -->

    <section id="current">

   	<div class="row section-intro">
   		<div class="col-twelve with-bottom-line">

   			<h5>B3 Lottery</h5>
   			<h1>Terms of Service</h1>


   		</div>
   	</div>
   	<div class="row current-content">
        <div class="col-md-8 content-block">
<p>Our mission is to empower people financially and make the world more open and connected. This is the community of the people with a common cause to make B3 Coin the most used payment system in the world.Our vision is to foster a trusted B3 community and to help increase the value by burning supply while having fun. To accomplish this, we demand that our members are honest and respectful to each other. For that reason, we’ve developed a set of community standards. These policies will help you to understand what type of operations allowed on B3 Lottery and what type of operations violate community standards. By reading and continuing to use community site you agree to the following conditions of use.</p>
<h2 style="color:#FA890F">No Solicitation or Advice</h2>
<p>Neither this website nor any of its contents shall constitute a recommendation, solicitation or offer to buy or sell any securities, assets or other financial instruments or provide any investment advice or service. The information contained in the Site has been prepared without reference to any particular User's investment requirements or financial situation.</p>
<p>The information and services provided on the Site are not provided to, any person or entity in any jurisdiction where the provision or use thereof would be contrary to applicable laws, rules or regulations of any governmental authority.</p>
<p>
You acknowledge that you are not relying on the B3 Lottery or any of its affiliates, or consultants in making an investment decision. Always consider seeking the advice of a qualified professional before making decisions regarding your business and/or investments. B3 Lottery does not endorse any investments and shall not be responsible in any way for any transactions you enter into with other members. You agree that the B3 Lottery and its affiliates, or consultants will not be liable for any loss or damages of any sort incurred as a result of any interactions between you and other B3 Lottery members.</p>
<h2 style="color:#FA890F">Risk Disclosure</h2>
<p> Virtual currency such as B3 is not legal tender, and is not backed by the government. Legislative and regulatory changes or actions at the state, federal, or international level may adversely affect the use, transfer, exchange and value of B3. Transactions in virtual currency such as B3 are irreversible, and accidental transactions may not be recoverable. The volatility and unpredictability of the price of virtual currency relative to the fiat currency may result in significant loss over a short periods of time. Any technological difficulties experienced by the lottery system may prevent the access or use of members virtual currency temporarily or permanently, depending on the severity of damage.</p>
<p>There are risks associated with trading and investing. If there should be a system failure, hacking incident or technical failure these terms apply to the members.</p>
<p>For lottery all results are random and fair. Any deposits which are not a multiple of the ticket price will be rounded down to the nearest multiple with any remaining funds to be seen as a donation the B3 Lottery</p>
<p>In lottery, the member agrees that all results are fair and final.</p>
<p>B3 Lottery reserves the right to institute and implement new rules of paying and any reward structure changes.</p>
<p>B3 Lottery reserve the right to change the lottery algorithm, but will ensure it is always provably fair and advertised.</p>

</div>

    </div> <!-- /current-content -->

   </section> <!-- /current -->


        <div id='footer'>
	       <?php include "footer.html" ?>
        </div>

   <div id="preloader">
    	<div id="loader"></div>
   </div>

   <!-- Java Script
   ================================================== -->
   <script src="js/jquery-1.11.3.min.js"></script>
   <script src="js/jquery-migrate-1.2.1.min.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/main.js?v=5"></script>

</body>

</html>
